<div class="containerAboutUs">
  <div class="mt-5">
    <div class="jumbotron box_shadow bgImage"></div>
  </div>

  <div class="containerAboutUs mb-5">
    <div class="row">
      <div class="col-12 col-md-7 mb-3">
        <div class="card mb-3 w-100">
          <div class="card-header text-center">
            <h2>Contact Us</h2>
          </div>
          <form
            class="card-body"
            [formGroup]="contactUsForm"
            (ngSubmit)="submitContact()"
          >
            <div class="form-group">
              <input
                type="text"
                name="name"
                class="form-control"
                formControlName="name"
                placeholder="Name..."
              />
            </div>

            <div class="form-group">
              <input
                type="email"
                name="email"
                class="form-control"
                formControlName="email"
                placeholder="Email..."
              />
            </div>

            <div class="form-group">
              <textarea
                class="form-control"
                name="message"
                formControlName="message"
                rows="3"
                placeholder="Message..."
              ></textarea>
            </div>

            <div class="form-group">
              <button type="submit" class="btn">Send</button>
              <button
                type="button"
                (click)="resetBtn()"
                style="margin-left: 10px"
                class="btn"
              >
                reset
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="col-12 col-md-5">
        <!-- <div class="card w-100 p-5">
          <div class="p-2">
            <img
              class="p-2"
              src="../../assets/icons/001-telephone.png"
              alt=""
            />
            <Span>Mobile: +91-1236547890</Span>
          </div>
          <div class="p-2">
            <img class="p-2" src="../../assets/icons/003-email.png" alt="" />
            <Span>Email: vidly@gmail.com</Span>
          </div>

          <div class="p-2">
            <img class="p-2" src="../../assets/icons/002-address.png" alt="" />

            <span> US office address:</span>
            <span> Future 11 W 42nd St, 15th floor New York, NY 10036 </span>
          </div>
        </div> -->

        <table class="table card table-borderless p-3">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                <img
                  src="../../assets/icons/001-telephone.png"
                  alt=""
                />
              </th>
              <td class="align-middle">Mobile: +91-1236547890</td>
            </tr>
            <tr>
              <th scope="row">
                <img
                  src="../../assets/icons/003-email.png"
                  alt=""
                />
              </th>
              <td class="align-middle" >Email: vidly@gmail.com</td>
            </tr>
            <tr>
              <th scope="row">
                <img
                  src="../../assets/icons/002-address.png"
                  alt=""
                />
              </th>
              <td class="align-middle">
                <span> US office address : </span>
                <span>
                  Future 11 W 42nd St, 15th floor New York, NY 10036
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
