<div class="containerAboutUs">
  <div class="mt-5 mb-3">
    <div class="jumbotron box_shadow bgImage"></div>
  </div>

  <div class="card box_shadow br-6">
    <div class="text-center p-2 mt-4 mb-3">
      <h2 class="heading">Our Story</h2>
    </div>
    <div class="card-body p-4">
      <p>
        Vidly is a place where you can get high-quality Blu-ray DVDs at a cheap
        price with flexible payment methods such as cash on delivery, PayPal,
        and pick up from the store.
      </p>
    </div>
  </div>

  <div class="card box_shadow p-3 mt-4 mb-3 br-6">
    <div class="text-center mt-4 mb-3" >
      <h2 class="heading">Owner and Developer</h2>
    </div>
    <div class="row mt-4">
      <div class="col-12 col-md-3 mb-3">
        <div class="card p-4">
          <div class="card-body br-6 text-center">
            <img
              src="https://bootdey.com/img/Content/avatar/avatar7.png"
              alt="Admin"
              class="rounded-circle"
              width="150"
              accept=".png, .jpg, .jpeg"
            />
          </div>
          <div class="mt-3 text-center">
            <h4>Yash Chouriya</h4>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-9 mb-3">
        <div class="card br-6">
          <div class="card-body">
            <p>
              Yash is an Engineer, software developer, technology adviser,
              writer, and one of the best gamers in mobile and console gaming.
              Yash is an Assistant Consultant Front End Developer in a software
              development company that provides complete software solutions to
              various types of industries.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
