
<div class="containerAboutUs">
  <div class="mt-5 mb-3">
    <div class="jumbotron box_shadow bgImage">

    </div>
  </div>


  <div class="card box_shadow  br-6">
    <div class="text-center p-2 mb-3">
      <h2 class="heading">Our Story</h2>
    </div>
    <div class="card-body p-4">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam consequatur quidem voluptas omnis esse optio dolorem, enim sapiente eligendi necessitatibus, ex recusandae voluptates nemo debitis ratione animi molestiae nesciunt! Perspiciatis.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat tenetur odit architecto! Dolores ipsam odit deleniti assumenda magni cupiditate deserunt, unde fuga debitis recusandae consequuntur. Porro asperiores deleniti sapiente saepe.</p>
    </div>

  </div>

  <div class="card box_shadow p-3 mt-4 mb-3 br-6">
    <div class="text-center p-2 mb-3">
      <h2 class="heading">Owner and Developer</h2>
    </div>
    <div class="row">
      <div class=" col-12 col-md-3 mb-3">
        <div class="card p-4">
          <div class=" card-body br-6 text-center">
            <img
              src="https://bootdey.com/img/Content/avatar/avatar7.png"
              alt="Admin"
              class="rounded-circle"
              width="150"
              accept=".png, .jpg, .jpeg"
            />
          </div>
          <div class="mt-3 text-center" >
            <h4>Yash Chouriya</h4>
            </div>

        </div>
      </div>
      <div class="col-12 col-md-9 mb-3">
        <div class="card br-6">
          <div class="card-body">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error laborum iusto consequatur sit dolorum nostrum corporis amet, iste, minima distinctio ut ducimus unde nesciunt maxime hic esse fugiat dicta facilis?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error laborum iusto consequatur sit dolorum nostrum corporis amet, iste, minima distinctio ut ducimus unde nesciunt maxime hic esse fugiat dicta facilis?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error laborum iusto consequatur sit dolorum nostrum corporis amet, iste, minima distinctio ut ducimus unde nesciunt maxime hic esse fugiat dicta facilis?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error laborum iusto consequatur sit dolorum nostrum corporis amet, iste, minima distinctio ut ducimus unde nesciunt maxime hic esse fugiat dicta facilis?</p>
        </div>
      </div>
    </div>
  </div>
</div>

