<button class="btn btn-outline-dark px-3 m-3"  routerLink="/genres/listing">Back</button>

<div class="container minH_100vh d-flex justify-content-center">
    <div class="card box_shadow br-6 w-100" style="height: fit-content;">
      <div class="card-header p-4">
        <h4>Enter Genre</h4>
      </div>
      <div class="card-body p-4">
        <form [formGroup]="genreForm" (ngSubmit)="createGenre()">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              formControlName="name"
              id="name"
              placeholder="Genre.."
            />
          </div>
          <button type="submit" class="btn btn-outline-success px-3 mr-3">Create</button>
          <button
            class="btn btn-outline-danger px-3"
            type="button"
            (click)='resetBtnHandler()'
          >
            Reset
          </button>
        </form>
      </div>
    </div>
  </div>
