.mat-form-field + .mat-form-field {
  margin-left: 8px;
}



.orderContainer{
  margin: 50px 100px;
}

@media (max-width : 767px){
  .orderContainer{
    margin: 100px 0px !important;
  }

}
.productImg{
  height: 30px;
  width: 30px;
  background-position: center;
  border-radius: 50%;
  overflow: hidden;
}

b{
  color: rgba(0,0,0,.54);
}

ul{
  border-radius: 6px;
}
