<div class="btn-group dropright" >
    <button type="button" class="btn btn-secondary">
      Controls
    </button>
    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only"></span>
    </button>
    <div class="dropdown-menu" >
        <a class="dropdown-item" routerLink="/genres/listing">Genres</a>
        <a class="dropdown-item" routerLink="/movies/listing">Movies</a>
        <a class="dropdown-item" >Rentals</a>
        <a class="dropdown-item" >Customers</a>
        <a class="dropdown-item" >Users</a>
        <a class="dropdown-item" routerLink="/messages">Messages</a>
    </div>
</div>
