.tableShadow{
  background-color: white;
  border-radius: 6px;
  box-shadow: -1rem 0 3rem #717171;
  overflow: hidden;
  border: none !important ;
}

.productImg{
  height: 66px;
  width: 66px;
  background-position: center;
  border-radius: 50%;
  overflow: hidden;
}
