img {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: auto;
}

.card {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* button {
  background-color: #fc85ae;
  border: 2px solid white;
  font-weight: 500px;
  border-radius: 20px;
  color: white;

}

button:hover {
  background-color: white;
  border: 2px solid #fc85ae;
  color: #fc85ae;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

} */

.badge {
  background-color: #fc85ae;
}
