<!-- <button style="margin-top: 10px" routerLink="/adminPanel" class="btn btn-dark">
  <i
    class="fa fa-long-arrow-left"
    aria-hidden="true"
    style="margin-right: 5px"
  ></i
  >Back
</button>

<button
  class="btn btn-success"
  style="margin: 10px 0 0 10px"
  routerLink="/movies/form/new"
>
  <i class="fa fa-plus-circle" aria-hidden="true" style="margin-right: 5px"></i
  >Movie
</button> -->

<div class="container mt-5">
  <!-- Breadcrumb -->
  <nav aria-label="breadcrumb" class="main-breadcrumb box_shadow br-6">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/adminPanel" routerLinkActive="router-link-active"
          >Dashboard</a
        >
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/movies/form/new" routerLinkActive="router-link-active"
          >Add Movie</a
        >
      </li>
      <li class="breadcrumb-item active">All Movies</li>
    </ol>
  </nav>
  <!-- /Breadcrumb -->
</div>


<div class="container mt-5">
  <div class="card box_shadow br-6 mb-5" *ngFor="let movie of movies">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-3 col-lg-3">
        <img [src]="movie.imageUrl" alt="" />
      </div>
      <div class="col-12 col-sm-12 col-lg-9 col-md-9">
        <div class="card-body">
          <h2 class="card-title">{{ movie.title }}</h2>
          <h3 class="card-title text-muted">
            Genre :
            <span class="text-muted">{{ movie.genre.name }}</span>
          </h3>
          <p class="card-text">{{ movie.summery }}</p>
          <div>
            <span class="mr-3">
              <b>Rental Rate</b> : {{ movie.dailyRentalRate | currency }}
            </span>
            <span class="mr-3">
              <b>Price</b> : {{ movie.price | currency }}</span
            >
            <span
              class="badge badge-info"
              style="border-radius: 0; font-weight: 500"
              >Stock : {{ movie.numberInStock }}</span
            >
            <div>
              <div class="mt-1 py-2">
                <button
                  (click)="trailerPopUp(movie.trailerUrl)"
                  class="btn btn-outline-dark"
                >
                  <i class="fa fa-youtube"></i> Watch Trailer
                </button>
              </div>

              <div class="mt-3">
                <span>
                  <div class="d-flex py-2">
                    <button
                      (click)="editBtnHandler(movie._id)"
                      class="btn btn-outline-warning w-50 mr-2"
                    ><i class="fa fa-pencil" aria-hidden="true"></i>
                      Edit
                    </button>
                    <button
                      class="btn btn-outline-danger w-50"
                      (click)="delBtnHandler(movie._id)"
                    ><i class="fa fa-trash" aria-hidden="true"></i>
                      delete
                    </button>
                  </div>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
