<app-loader *ngIf="isLoadig"></app-loader>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12 mb-3 col-md-4">
      <genres class=""></genres>
    </div>
    <div class="col-12 mb-3 col-md-8">
      <input
        type="text"
        (keyup)="filter($event.target.value)"
        #search
        class="form-control box_shadow"
        placeholder="Serch Movie"
      />
    </div>
  </div>
</div>

<div class="container mt-5 mb-5" *ngIf="!filteredMovies.length">
  <div class="card box_shadow p-5 text-center">
    <h3>No Movies Found!</h3>
  </div>
</div>

<div class="container mt-5 mb-5">
  <ng-container *ngIf="movies?.length || movies?.length > 0">
    <div class="card mb-5 box_shadow" *ngFor="let movie of filteredMovies">
      <div class="row">
        <!-- *ngIf="(selectedGenre && selectedGenre == movie?.genre?._id)" -->
        <div class="col-12 col-sm-12 col-md-3 col-lg-3">
          <img [src]="movie.imageUrl" alt="" />
        </div>
        <div class="col-12 col-sm-12 col-lg-9 col-md-9">
          <div class="card-body">
            <h4 class="card-title d-inline-block">{{ movie.title }}</h4>
            <span class="badge badge-info p-2 stock_badge"
              >Stock : {{ movie.numberInStock }}</span
            >
            <h5 class="card-title text-muted mb-4">
              Genre :
              <span class="text-muted">{{ movie.genre.name }}</span>
            </h5>
            <p class="card-text"><b>Summery</b> :{{ movie.summery }}</p>
            <div>
              <!-- <span class="mr-3">
                <b>Rental Rate</b> : {{ movie.dailyRentalRate | currency }}
              </span> -->
              <span class="mr-3">
                <span class="mr-3 v-align-super"><b>Rating</b> :</span>
                <ngb-rating [max]="5" [rate]="movie.rating" readonly="true">
                  <ng-template #t let-fill="fill">
                    <span class="star" [class.full]="fill === 100">
                      <span class="half" [style.width.%]="fill"
                        ><em class="fa fa-star text-warning"></em></span
                      ><em class="fa fa-star-o text-warning cursor"></em>
                    </span>
                  </ng-template>
                </ngb-rating>
              </span>
              <div>
                <div class="mt-2">
                  <b>Price</b> : {{ movie.price | currency }}
                </div>
                <div class="mt-4 row">
                  <div class="col-12 col-md-6 mb-3" *ngIf="movie?.inCart">
                    <button
                      class="btn btn-danger w-100"
                      (click)="removeFromCart(movie)"
                    >
                      <i
                        class="fa fa-minus-square fa-lg px-1"
                        aria-hidden="true"
                      ></i
                      >Remove From Cart
                    </button>
                  </div>
                  <div class="col-12 col-md-6 mb-3" *ngIf="!movie?.inCart">
                    <button
                      [disabled]="!isLoggedIn"
                      class="btn btn-success w-100"
                      (click)="addToCart(movie)"
                    >
                      <i
                        class="fa fa-cart-plus fa-lg px-1"
                        aria-hidden="true"
                      ></i
                      >Add To Cart
                    </button>
                  </div>

                  <div class="col-12 col-md-6 mb-3">
                    <button
                      (click)="trailerPopUp(movie.trailerUrl)"
                      class="btn btn-dark w-100"
                    >
                      <i class="fa fa-youtube fa-lg px-1"></i> Watch Trailer
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- <ng-container *ngIf="!movies?.length || movies?.length < 0">
    <div class=" card box_shadow mt-5 p-5 bg-light">
      <h2>
        No Movies Found with Selected Genres! Please try something else...
      </h2>
    </div>
  </ng-container> -->
</div>
