<app-loader *ngIf="isLoadig"></app-loader>
<div class="card-body">
  <form
    [formGroup]="signUpForm"
    id="signupform"
    (ngSubmit)="executeSignUp()"
    autocomplete="off"
  >
    <div class="row">
      <div class="form-row col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12">
          <!-- <label for="name">Full Name</label> -->
          <input
            class="form-control"
            type="text"
            name="name"
            formControlName="name"
            placeholder="Name..."
          />
          <div
            style="margin-top: 10px"
            *ngIf="
              !signUpForm.controls.name?.valid &&
              (signUpForm.controls.name?.dirty ||
                signUpForm.controls.name?.touched)
            "
            class="alert alert-warning"
          >
            <div [hidden]="!signUpForm.controls.name.errors.required">
              name is required!
            </div>
            <div [hidden]="!signUpForm.controls.name.errors.minlength">
              Minimum name length is 5.
            </div>
          </div>
        </div>

        <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12">
          <!-- <label for="email">Email</label> -->
          <input
            class="form-control"
            type="email"
            name="email"
            formControlName="email"
            placeholder="Email..."
          />
          <div
            style="margin-top: 10px"
            *ngIf="
              !signUpForm.controls.email?.valid &&
              (signUpForm.controls.email?.dirty ||
                signUpForm.controls.email?.touched)
            "
            class="alert alert-warning"
          >
            <div [hidden]="!signUpForm.controls.email.errors.required">
              Email is required!
            </div>
            <div [hidden]="!signUpForm.controls.email.errors.email">
              Please enter a valid email!
            </div>
          </div>
        </div>
        <div class="form-group col-12">
          <!-- <label for="password">Password</label> -->
          <input
            class="form-control"
            type="password"
            formControlName="password"
            required
            placeholder="Password..."
            onblur="this.setAttribute('readonly', 'readonly');"
            onfocus="this.removeAttribute('readonly');"
            readonly
            autocomplete="new-password"
          />
          <div
            style="margin-top: 10px"
            *ngIf="
              !signUpForm.controls.password?.valid &&
              (signUpForm.controls.password?.dirty ||
                signUpForm.controls.password?.touched)
            "
            class="alert alert-warning"
          >
            <div [hidden]="!signUpForm.controls.password.errors.required">
              Password is required!
            </div>
            <div [hidden]="!signUpForm.controls.password.errors.pattern">
              Please enter a password of atleast 8 character's with one captal
              letter, one degit and one non-alphanumeric character.
            </div>
          </div>

          <div class="form-group col-12 text-center" style="margin-top: 20px">
            <button
              class="btn btn-success"
              [disabled]="!signUpForm.valid"
              type="submit"
            >
              Register
            </button>
          </div>
        </div>
      </div>
      <div class="card-body col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card-text">
          <h5>Already have account? No problem just login to you'r account.</h5>
          <button (click)="navigate()" class="btn btn-success">Login</button>
        </div>
      </div>
    </div>
  </form>
</div>
