<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-md-3">
      <!-- <ng-select
        class="box_shadow"
        [items]="genres"
        bindLabel="name"
        bindValue="id"
        [(ngModel)]="selectedGenre"
        dropdownPosition="bottom"
        [multiple]="false"
        placeholder="Select Genre"
        [clearable]="false"
        [closeOnSelect] ="true"
        (change)="genreChange($event)"
      >
      </ng-select> -->

      <ng-select
        class="inNgSelect drop_down_config margtop marright-ng-sel drop_down_set"
        [items]="genres"
        dropdownPosition="bottom"
        bindLabel="name"
        bindValue="name"
        [clearable]="false"
        placeholder="{{ 'transaction name'}}"
        [(ngModel)]="genres[0].name"
        (change)="genreChange($event)"
      >
        <!-- <ng-template ng-label-tmp let-item="item">
          <div>
            <span class="ng-value-label">{{ item?.name }}</span>
          </div>
        </ng-template>
        <ng-template ng-option-tmp let-item="item">
          <div class="selected_option">
            <div class="row-img">
              <span>{{ item?.name }}</span>
            </div>
          </div>
        </ng-template> -->
      </ng-select>
    </div>
    <!-- <div class="col-9">{{ selectedGenre }}</div> -->
  </div>
</div>
