/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
/* @import "~@ng-select/ng-select/themes/material.theme.css"; */

$themeColr :#fc85ae;

html,
body {
  height: 100%;
  margin: 0;
}
body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  background-color: whitesmoke;
}

/* .btn{
  width: 192px !important;
  height: 37px !important;
} */
.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.box_shadow {
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
}

.br-6 {
  border-radius: 6px;
}

.c-pointer {
  cursor: pointer;
}

.makeLink{
  color: rgb(74, 195, 252) !important;
  cursor: pointer !important;
}

.makeLink:hover{
  text-decoration: underline !important;
}
.d-initial{
  display: initial !important;
}

.font-bold{
  font-weight: bold;
}

.font-18{
  font-size: 18px;
}

@media(max-width:567px){
  .mobCart{
    display: block !important;
  }
  .deskcart{
    display: none !important;
  }
}

.mobCart{
  display: none;
}

.deskcart{
  display: table;
}

.heading{
  border-bottom: 4px solid #fc85ae;
  display: inline;
  font-weight: 700;
}

.minH_100vh{
  min-height: 100vh;
}

.breadcrumb{
  background-color: white;
}
.breadcrumb a {
  color: skyblue;
}
